@font-face {
  font-family: 'SourseCodePro';
  src: local('SourseCodePro'),
    url('./fonts/SourceCodePro.woff2') format('woff2'),
    url('./fonts/SourceCodePro.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
