@import './fonts.scss';
@import './vars.scss';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'SourseCodePro', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: rgb(36 36 36/1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[list='country']::-webkit-calendar-picker-indicator {
  display: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
